    <div class="col d-flex justify-content-center" style="align-item:center;width: 100%; height: 500px;padding-top: 40px; background-color: black;">
        <div class="card" style="margin: auto;width: 90%;height:100%;border: 1px solid white;border-radius: 20px;background-color: black;"> 
            
        <div class="container">
                <div class="row">
                    <div class="col-md-8">
                         <label style="24px">
                            about me
                         </label>              
                    </div>
                    <div class="col-md-4">
                        <img src="/images/portpholio_image.jpg" style="width: 300px; height: 300px;margin-top: 30px;">
                        <label style="font-size: 30px;margin-top: 10px;color: aliceblue;width: 100%;"><center><u>Chetan Panchal</u></center></label>
                                                <label style="font-size: 20px;margin-top: 10px;color: aliceblue;width: 100%;"><center>Mobile App Developer,Web Developer</center></label>

                    </div>    
                </div>
            </div>

        </div>
    </div>