    <div class="col d-flex justify-content-center" style="align-item:center;width: 100%; height: 500px;padding-top: 40px; background-color: black;">
        <div class="card" style="margin: auto;width: 80%;height:100%;border: 3px solid green;">
            <div class="container" style="height: 100%;">
                <div class="row" style="height: 100%;padding:5px;">
                    
                    <div class="col-md-4">
                          <label style="font-size: 24px;"><b>Got a new Project?</b></label><br>
                    </div>
                    
                    <div class="col-md-8" style="background-color: #212529;height: 100%;border-radius: 3px;">
                        
                        <div style="text-align:center;">
                          <label style="color: white;font-size: 24px;"><b>Contact Me</b></label><br>
                          <label style="color: white;font-size: 14px;"><u>Got Question? I got answers please contact me using this form.</u></label>
                          <hr style="color:white;background-color:white">
                        </div>
                        
                        <div class="container">
                          <div class="row">
                            <div class="col-md-6">
                                <label style="color: white;font-size: 14px;">First Name</label><br>
                                <input type="text" style="width: 100%;" placeholder="Your First name">
                            </div>
                            <div class="col-md-6">
                                <label style="color: white;font-size: 14px;">Last Name</label><br>
                                <input type="text" style="width: 100%;" placeholder="Your Last name">
                            </div>
                          </div>
                        </div>

                        <br>
                        <div class="container" style="align-item:center;">
                          <div class="row">
                            <div class="col-md-6">
                                <label style="color: white;font-size: 14px;">Email Address</label><br>
                                <input type="text" style="width: 100%;" placeholder="Your Email Address">
                            </div>
                            <div class="col-md-6">
                                <label style="color: white;font-size: 14px;">Mobile Number</label><br>
                                <input type="text" style="width: 100%;" placeholder="Your Mobile Number">
                            </div>
                          </div>
                          <br>
                          <div class="col-md-12 justify-content-center">
                            <label style="color: white;font-size: 14px;">Message:</label><br>
                            <textarea type="text" style="width: 100%;height: 80px;" placeholder="Write your message.."></textarea>
                          <center>
                          <button class="button button1" style="align-self: center;">Submit</button>
                          </center>
                          </div>
                          
                          
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>