
<div class="back">

<div class="container" >
    <div class="row">
        <div class="col-md-8" >
            <div>
                    <h1 class="headertext" style="font-size: 32px;">Hii there, I am</h1>
                    <h1 class="headertext"><u>Chetan Panchal</u></h1><br>
                    <p class="basicsummry">A Software Developer Skilled in Android Developement with 4 Years of hand-on Experience.</h1>
                    <p class="normalText">Previoulsy worked at <a href="https://bisag-n.gov.in/" style="color: #c6dcf1;"><u >Bisag-n</u></a> and <a href="https://cittasolutions.com/" style="color: #c6dcf1;"> <u>Citta Solutions</u></a>  Company.</h1>
            </div>
        </div>
       <div class="col-md-4" >
            <img src="/images/mainimage.jpg" style="width: 400px; height: 400px;">
        </div>
    </div>
</div>
</div>