    <div class="row d-flex justify-content-center" 
    style="align-item:center;width: 100%; height: auto; background-color: black;">
        <div class="card" style="float: left; margin-top: 40px;width: 70%;
        border: 1px solid white;border-radius: 20px;background-color: black;"> 
            
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/pmuday.jpg" style="width: 200px; height: 200px;margin: 20px;">                        
                    </div>
                    <div class="col-md-8">
                        <label style="font-size: 24px;color: white;"> Pm-Uday Application </label>
                        <label style="color: white;"> Pm-Uday is basically a project for the Population of Delhi. </label>
                        <label style="color: white;"> The Central Government has created a project to solve the PRoblem of Unregister Property in Delhi.It is used to register persons property by their Property Boundrie. </label>
                        <a href="https://pmuday.ncog.gov.in/" style="color: #c6dcf1;"><u> Pm-Uday WEbsite</u></a>
                    </div>    
                </div>
            </div>

        </div>
       
       <div class="card" style=" margin-top: 40px;width: 70%;border: 1px solid white;border-radius: 20px;background-color: black;"> 
          
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <label style="font-size: 24px;color: white;"> Rashtriya Bal Swasthya Karyakram (RBSK) </label>
                        <label style="color: white;"> The Ministry of Health and Family Welfare of India has Created a one Project to Improve the Lifestyle for the Childre.</label>
                        <label style="color: white;"> This project is used to provide the steps and also used to note the status of the Child. Such as measurment like Weight and Height of Child. This Screening involve from the age of birth to 18 years. </label>
                        <a href="https://rbsk.gov.in/RBSKLive/Login/Login.aspx" style="color: #c6dcf1;"><u> Rashtriya Bal Swasthya Karyakram (RBSK) Website</u></a>
                    </div>
                    <div class="col-md-4">
                        <img src="/images/rbsk.jpg" style="width: 200px; height: 200px;margin: 20px;margin: 20px;">
                    </div>    
                </div>
            </div>

        </div>

           <div class="card" style="margin-top: 40px;width: 70%;height: 80%;border: 1px solid white;border-radius: 20px;background-color: black;"> 
           <div class="container">
                <div class="row">
                    <div class="col-md-4">  
                        <img src="/images/tatpar.jpg" style="width: 200px; height: 200px;margin: 20px;">                        
                    </div>
                    <div class="col-md-8">
                        <label style="font-size: 24px;color: white;">Tatpar Delhi Police</label>
                        <label style="color: white;">Tatpar App is an Mpbile Applicaiton t provide handy solution for the Delhi Public.</label>
                        <label style="color: white;">In this Application it contain several fecility in the Mobile Application.By using this application Citizen of Delhi can access all services from one Place.The focus of the Mobile App is to Access All required Facility for the Citizen.</label>
                            <a href="https://play.google.com/store/apps/details?id=com.tatpar.tatpardelhipolice&hl=en_CA&gl=US" style="color: #c6dcf1;"><u> Tatpar Delhi Police Mobile Application</u></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="margin-top: 40px;width: 70%;height: 80%;border: 1px solid white;border-radius: 20px;background-color: black;"> 
                        <label style="color: white;font-size: 24px;">Opss... Many More Application are there But those all Are Confidential.</label>
        </div>


    </div>